@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
  }
  

div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    justify-content: center;
    align-items: center;
    background: white;
    
}

.wrapper {
    width: 360PX;
    height: 100%;
    margin: auto;
    padding: 10px;
    background-color: rgb(23, 172, 217);
    border-radius: 3px;
    color:rgb(41, 22, 145);

}

h1{
    text-align: center;
    color: rgb(1, 1, 10);
}

h2, h3{
    text-align: left;
    font-size: 15px;
    color: rgb(1, 1, 10);
}

form{
    width: 300px;
    margin-left:10px;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    border: 1px solid rgb(248, 234, 49) ;
    border-radius: 50px;
}

input[type="submit"]{
    width: 300px;
    height: 40px;
    margin-top: 20px;
    margin-left: 8px;
    background-color: rgb(253, 233, 15);
    color: rgb(2, 16, 28);
    font-size: 18px;
}

.already{
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 5px;
}

input[type="checkbox"]{
    text-align: center;
    width: 20x;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: rgb(1, 1, 10);
}

.dropdown {
    display: inline-block;
    width: 300px;
    margin-left: 8px;
    margin-top: 20px;
    border-radius: 50px;
    color: rgb(99, 87, 96);
    font-size: 15px;
    padding: 10px 15px;
    cursor: pointer;
}

.dropdown:hover {
    background-color: rgb(248, 234, 49);
}







 
