@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

body {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background: #f3f5f9;
  background-image: url(MSUHorseRider_blue.png);
  background-repeat: no-repeat;
  background-position: 60% 30%;
  background-size: 500px 500px;

}

.wrapper {
  width: 420px;
  background: white;
  color: black;
  border-radius: 10px;
  padding: 30px 40px ;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
}

.wrapper .input-box{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width:100%;
  height: 50px;
  /* background: #1434A4; */
  margin: 30px 0;
  border:2px solid rgba(225, 215,0, .2) ; 
  border-radius: 40px;
  padding-left: 15px;
  padding-right: 15px;
  /* padding: 20px 45px 20px 20px; */
}


.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  
  font-size: 16px; 
  /* color: #fff; */
}

.input-box input::placeholder {
  color: black;
}

.input-box i {
  /* position: absolute; */
  /* margin-right: 30px; */
  /* text-align: center; */
  transform: translateY(10%);
  font-size: 20px;
  /* left: 775px; */
  color: black;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: black;
  margin-right: 3px;
}

.remember-forgot a {
  color: black;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper > form > button {
  width: 100%;
  height: 45px;
  background: #ffd700;
  border: none;
  outline: none;
  border: none;
  /* 2px solid rgba(225, 215,0, .2) ;  */
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px; 
  font-weight: 600;
  /* color: #fff; */
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  /* margin-top: 20px; */
  margin: 10px 0 4.5px;
}

.register-link p a {
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
