<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <head>
        <meta name="viewport" content="width=device-width, initial-scale = 1.0" charset="UTF-8" />
        <link rel="stylesheet" type="text/css"  href="stylee.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <title>EVENTS PAGE</title>
    
</head>

<body>
    <div class="wrapper">
       <h1>Events 📅 </h1> 

       <div class="upcome">
        <a href="">Upcoming Events</a>
        <a href="">Past Events</a>
       </div>


       <div class="register">
        <label class="title">
           <h2> May Fam Friday:Level Up</h2> 
        </label>
        
        <i class='bx bx-calendar-alt' style='color:rgba(0,0,0,0.71) '>Fri, May 31, 2024, 12:30 PM - 4:00 PM</i><br/>
        <i class='bx bx-check-circle' style='color:rgba(0,0,0,0.71)' >Not Going</i>
        
        <div class ="attendees">
            <img src="profile1.jpg" alt="attendee">
            <img src="profile2.jpg" alt="attendee">
            <img src="profile3.jpg" alt="attendee">        
            <p style="text-decoration: underline; margin-left: 10px;">123 attendees </p>
           
        </div>

        <div class="register-btn">
            <div class="regis">
                <i class='bx bx-check'></i>
                <a href="" >Register</a>
            </div>
            <div class="deets">
                <i class='bx bx-windows'></i>
                <a href="#">See Details</a>
            </div>

            </div>

       </div>

    </div>

</body>

</html>