{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stage/gallery.css' %}">
    <link rel="stylesheet"  href="{% static 'stage/lightbox.min.css' %}">
    <script src="{% static 'stage/lightbox-plus-jquery.min.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="heading">
            <h3>🤍 Photo <span>Gallery</span> 🤍</h3>
            <p>Courtsey of Francis(NSBE Media Head)</p>
        </div>

        <div class="box">

            <div class="img-box">
                <a href="{% static 'stage/NSBE_photos/IMG-20240624-WA0032.jpg' %}" data-lightbox="mygallery">
                    <img src="{% static 'stage/NSBE_photos/IMG-20240624-WA0032.jpg' %}" alt="">
                </a>
                <a href="{% static 'stage/NSBE_photos/IMG-20240624-WA0042.jpg' %}" data-lightbox="mygallery">
                    <img src="{% static 'stage/NSBE_photos/IMG-20240624-WA0042.jpg' %}" alt="">
                </a>
                <a href="{% static 'stage/NSBE_photos/IMG-20240624-WA0040.jpg' %}" data-lightbox="mygallery">
                    <img src="{% static 'stage/NSBE_photos/IMG-20240624-WA0040.jpg' %}" alt="">
                </a>
                <a href="{% static 'stage/NSBE_photos/IMG-20240624-WA0048.jpg' %}" data-lightbox="mygallery">
                    <img src="{% static 'stage/NSBE_photos/IMG-20240624-WA0048.jpg' %}" alt="">
                </a>
            </div>

            
            <div class="img-box">
                <a href="{% static 'stage/NSBE_photos/IMG-20240624-WA0034.jpg' %}" data-lightbox="mygallery">
                    <img src="{% static 'stage/NSBE_photos/IMG-20240624-WA0034.jpg' %}" alt="">
                </a>
                <a href="{% static 'stage/NSBE_photos/IMG-20240624-WA0036.jpg' %}" data-lightbox="mygallery">
                    <img src="{% static 'stage/NSBE_photos/IMG-20240624-WA0036.jpg' %}" alt="">
                </a>
                <a href="{% static 'stage/NSBE_photos/IMG-20240624-WA0035.jpg' %}" data-lightbox="mygallery">
                    <img src="{% static 'stage/NSBE_photos/IMG-20240624-WA0035.jpg' %}" alt="">
                </a>
                <a href="{% static 'stage/NSBE_photos/IMG-20240624-WA0045.jpg' %}" data-lightbox="mygallery">
                    <img src="{% static 'stage/NSBE_photos/IMG-20240624-WA0045.jpg' %}" alt="">
                </a>
                <a href="{% static 'stage/NSBE_photos/IMG-20240624-WA0055.jpg' %}" data-lightbox="mygallery">
                    <img src="{% static 'stage/NSBE_photos/IMG-20240624-WA0055.jpg' %}" alt="">
                </a>
            </div>

            
            <div class="img-box">
                <a href="{% static 'stage/NSBE_photos/IMG-20240624-WA0039.jpg' %}" data-lightbox="mygallery">
                    <img src="{% static 'stage/NSBE_photos/IMG-20240624-WA0039.jpg' %}" alt="">
                </a>
                <a href="{% static 'stage/NSBE_photos/IMG-20240624-WA0038.jpg' %}" data-lightbox="mygallery">
                    <img src="{% static 'stage/NSBE_photos/IMG-20240624-WA0038.jpg' %}" alt="">
                </a>
                <a href="{% static 'stage/NSBE_photos/IMG-20240624-WA0044.jpg' %}" data-lightbox="mygallery">
                    <img src="{% static 'stage/NSBE_photos/IMG-20240624-WA0044.jpg' %}" alt="">
                </a>
                <a href="{% static 'stage/NSBE_photos/IMG-20240624-WA0046.jpg' %}" data-lightbox="mygallery">
                    <img src="{% static 'stage/NSBE_photos/IMG-20240624-WA0046.jpg' %}" alt="">
                </a>
            </div>

        </div>

           
    </div>
    <div class="button">
        <a href="#">Page Up</a>
    </div>
    <div class="back_button">
        <a href="{%  url 'stage-about' %}">Back</a>
    </div>
</body>
</html>