@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background: #f3f5f9;
  background-image: url("./logo/msu_horse_logo_trans3.png");
  background-repeat: no-repeat;
  background-position: 60% 20%;
  background-size: 600px 600px;
  background-attachment: fixed;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.list {
  list-style-type: none;
}

.bottom_list {
  list-style-type: none;
}

.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #fff;
  padding: 30px 0;
}

.sidebar > .sidebar-header {
  margin-bottom: 30px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar > .sidebar-header img {
  width: 140px;
  height: 40px;
}

.sidebar ul > li {
  padding: 15px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  margin-left: 10px;
  margin-right: 20px;
}

.sidebar ul > li:hover {
  background: #1434A4;
  border-radius: 20px;
}
.sidebar ul > li:hover a {
  color: #FFD700;
}
.sidebar ul > li:hover img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.sidebar ul > li > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar ul > li > div > a {
  color: black;
}

.sidebar ul > li > a {
  color: black;
}

.sidebar ul > li > div > span > img {
  width: auto;
  height: 20px;
  margin-right: 10px;
}

/*For the log out button*/
.bottom_list {
  position: absolute;
  bottom: 10px;
}

/*For the Content*/
.content {
  width: 100%;
  margin-left: 200px;
  padding: 30px;
}