{% extends "stage/base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css"  href="{% static 'stage/about.css' %}">
    <script src="{% static 'stage/about.js' %}"></script>
{% endblock style%}


{% block name %}

    <div class="content_head">
    <h1 style="font-size: 30px; text-decoration: solid; color: black;">About NSBE</h1>
    </div>
    <div class="content_subhead">
        <h2 style="color: rgb(100, 100, 100);">
            MISSION STATEMENT
            
        </h2>
        <h3 style="color: rgb(100, 100, 100);">
            "to increase the number of culturally responsible black engineers who excel academically, succeed professionally and positively impact the community."
        </h3>
    </div>

    <div class="content_container">
        <!--
        <h1>🏛️ History</h1>
        <p style="font-size: 16px; line-height: 1.5;">
            In 1974, Edward Coleman, Anthony Harris, Brian Harris, Stanley L. Kirtley, John W. Logan Jr., and George Smith the “Chicago Six”, along with a host 
            of other Purdue Engineering students and professor Arthur J. Bond, Ph.D. formed the first chapter of the, then, Society of Black Engineers. After 
            contacting the other 288 accredited engineering schools, the Purdue SBE held its first annual meeting in April 1975 with 48 students from 32 schools.
            It was at that meeting that they unanimously voted to form the National Society of Black Engineers (NSBE).
        </p>
        <div class="img_cont" style="height: 450px; width: 750px; display: block;">
            <img src="{% static 'stage/NSBE_photos/students.webp' %}" alt="">
        </div>
        <br/>
        <p style="font-size: 16px; line-height: 1.5;">
            In 1976, NSBE was incorporated as a 501 c(3) national non-profit, and John Cason became the first elected president of the organization. Two years 
            later in 1978, Virginia Booth became the first female national chair and the first chair to serve two (2) terms. Since then, NSBE Alumni 
            (now NSBE Professionals) was formed in 1989, and, in 1990, the first NSBE Jr. chapters were formed, setting a firm foundation to realize the NSBE mission.
        </p>

        <br/>
        <div class="img_cont" style="height: 450px; width: 750px; display: block;">
            <img src="{% static 'stage/NSBE_photos/Foundingchapter.jpg' %}" alt="">
        </div>
        <br />
        <p style="font-size: 16px; line-height: 1.5;">
            Throughout its history, NSBE has had an incredible journey of successes and has been supported by the likes of Shirley Chisolm, the first Black woman 
            to run for President of the United States in 1979, and launching its first international chapter in London, England in 1992. It has grown from six (6)
            founding members to over 30,000 at its height, and from one (1) chapter to more than 790 chapters. As the guiding principles suggest and as the logo 
            symbolizes, then to now, NSBE members continue to have a burning desire (flame) to achieve engineering excellence and have a striking impact
            (lightning bolts) on society and industry for generations to come (torch).
        </p>
        <br/>
        <div class="img_cont" style="height: 300px; width: 550px; display: block;">
            <img src="{% static 'stage/NSBE_photos/NSBEchicagoSix.webp' %}" style="height: 250px; width: 500px;" alt="">
        </div>
        <br />
        <br/>
        <h1>Who We Are</h1>
        <br/>
        <div class="img_cont" style="height: 450px; width: 750px; display: block;">
            <img src="{% static 'stage/NSBE_photos/nsbe_kids.webp' %}" alt="">
        </div>
        <br />
        <p style="font-size: 16px; line-height: 1.5;">
            The National Society of Black Engineers (NSBE) is one of the largest student governed organizations in the world. We have birthed hundreds of businesses,
            trained thousands of corporate leaders, graduated tens of thousands of engineers, and engaged hundreds of thousands of K-12 students in STEM education 
            over our 47-year history, both nationally and abroad. In short, NSBE members, chapters, and supporters are dedicated to increasing the number of culturally 
            responsible Black Engineers who excel academically, succeed professionally and positively impact the community. 

        </p>
        <br />
        <br/>
        -->
        <h1>What We DO</h1>
        <br/>
        <div class="img_cont" style="height: 450px; width: 750px; display: block;">
            <img src="{% static 'stage/NSBE_photos/nsbe_kids2.jpeg' %}" alt="">
        </div>
        <br />
        <p style="font-size: 16px; line-height: 1.5;">
            Our programs are at the heart of NSBE’s commitment to building and maintaining a vibrant STEM pipeline. 

            Leadership, Technical Excellence, Academic Excellence and Mentoring are all a part of how we positively impact the community.  
            Supporting NSBE means that you are working to build 
            a strong legacy of leaders, innovators and skilled global citizens that will positively impact the world for decades to come! 
        </p>

    
    </div>
    <div class="content_subhead" style="background: rgba(12, 20, 37, 0.39); padding: 30px;
    border-radius: 20px;
    border: 1px solid black;">
        <h1 style="color:black;">
            <span style="color: #FFD700;">McNeese</span> <span style="color: midnightblue;">Chapter</span>: Region V
            
        </h1>
    </div>

    <div class="mcneese">
        <h1>Overview 🤍</h1>
        <p style="font-size: 16px; line-height: 1.5;">
            In 1974, Edward Coleman, Anthony Harris, Brian Harris, Stanley L. Kirtley, John W. Logan Jr., and George Smith the “Chicago Six”, along with a host 
            of other Purdue Engineering students and professor Arthur J. Bond, Ph.D. formed the first chapter of the, then, Society of Black Engineers. After 
            contacting the other 288 accredited engineering schools, the Purdue SBE held its first annual meeting in April 1975 with 48 students from 32 schools.
            It was at that meeting that they unanimously voted to form the National Society of Black Engineers (NSBE).
        </p>
        <div class="img_cont" style="height: 550px; width: 550px; display: block;">
            <img src="{% static 'stage/NSBE_photos/IMG-20240624-WA0046.jpg' %}" style="height: 500px; width: 500px;" alt="">
        </div>
        <br/>
        <p style="font-size: 16px; line-height: 1.5;">
            In 1974, Edward Coleman, Anthony Harris, Brian Harris, Stanley L. Kirtley, John W. Logan Jr., and George Smith the “Chicago Six”, along with a host 
            of other Purdue Engineering students and professor Arthur J. Bond, Ph.D. formed the first chapter of the, then, Society of Black Engineers. After 
            contacting the other 288 accredited engineering schools, the Purdue SBE held its first annual meeting in April 1975 with 48 students from 32 schools.
            It was at that meeting that they unanimously voted to form the National Society of Black Engineers (NSBE).
        </p>
        <div class="img_cont" style="height: 550px; width: 750px; display: block;">
            <img src="{% static 'stage/NSBE_photos/IMG-20240624-WA0152.jpg' %}" style="height: 500px; width: 700px;" alt="">
        </div>
        <br/>

        <h1>Goals 🍃</h1>
        <p style="font-size: 16px; line-height: 1.5;">
            In 1974, Edward Coleman, Anthony Harris, Brian Harris, Stanley L. Kirtley, John W. Logan Jr., and George Smith the “Chicago Six”, along with a host 
            of other Purdue Engineering students and professor Arthur J. Bond, Ph.D. formed the first chapter of the, then, Society of Black Engineers. After 
            contacting the other 288 accredited engineering schools, the Purdue SBE held its first annual meeting in April 1975 with 48 students from 32 schools.
            It was at that meeting that they unanimously voted to form the National Society of Black Engineers (NSBE).
        </p>
        <div class="img_cont" style="height: 450px; width: 750px; display: block;">
            <img src="{% static 'stage/NSBE_photos/IMG-20240624-WA0045.jpg' %}" style="height: 400px; width: 700px;" alt="">
        </div>
        <br/>
        <br/>
        <p style="font-size: 16px; line-height: 1.5;">
            In 1974, Edward Coleman, Anthony Harris, Brian Harris, Stanley L. Kirtley, John W. Logan Jr., and George Smith the “Chicago Six”, along with a host 
            of other Purdue Engineering students and professor Arthur J. Bond, Ph.D. formed the first chapter of the, then, Society of Black Engineers. After 
            contacting the other 288 accredited engineering schools, the Purdue SBE held its first annual meeting in April 1975 with 48 students from 32 schools.
            It was at that meeting that they unanimously voted to form the National Society of Black Engineers (NSBE).
        </p>
        <br/>
        <p style="font-size: 16px; line-height: 1.5;">
            In 1974, Edward Coleman, Anthony Harris, Brian Harris, Stanley L. Kirtley, John W. Logan Jr., and George Smith the “Chicago Six”, along with a host 
            of other Purdue Engineering students and professor Arthur J. Bond, Ph.D. formed the first chapter of the, then, Society of Black Engineers. After 
            contacting the other 288 accredited engineering schools, the Purdue SBE held its first annual meeting in April 1975 with 48 students from 32 schools.
            It was at that meeting that they unanimously voted to form the National Society of Black Engineers (NSBE).
        </p>
        <br/>
        <div class="img_cont" style="height: 450px; width: 750px; display: block;">
            <img src="{% static 'stage/NSBE_photos/IMG-20240624-WA0045.jpg' %}" style="height: 400px; width: 700px;" alt="">
        </div>
        <br/>
    </div>

    <footer>
        <a href="{%  url 'stage-gallery' %}" 
        style="text-decoration: none; color: black;">
        View Gallery</a>
    </footer>


{% endblock name %}