{% extends "stage/base.html" %}
{% load static%}
{% block style %}
    <link rel="stylesheet" type="text/css"   href="{% static 'stage/point_page.css'%}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock style%}
 
{% block name %}
 
 
    <h1>Points <i class='bx bx-trophy' style='color:#ffd700'  ></i> </h1>
    <div class = "allbox">    
        <div class="box1">
            <h1> Total Point Earned</h1>
                    <div class="number">
                        <p style="color: green;">{{user.pointsum}}</p>
                    </div>
        </div>
        <div class="box2">
            <h2> Total Events Attended</h2>
            <div class="number">
                <p style="color: green;">{{events_attended}}</p>
            </div>
        </div>
    </div>
   
    <div class="activity">
        <div class = "history">
            <h1 style="font-size: larger; text-decoration: solid">  Event History<span><i class='bx bx-history'></i></span></h1>
            <div class = "containevent">
                {% for member in memberPosts %}
                    <div class="event1">
                        {% if member.points < 10 %}
                            <h2 style = "color:green; font-size: 35px"> &nbsp;+{{ post.points }} </h2>
                        {% else %}
                            <h2 style = "color:green; font-size: 35px"> +{{ member.points }} </h2>
                        {% endif %}
                        <h2 style = "color:black; font-size: 15px"> {{ member.date_event|date:"F d, Y" }} <br>You attended {{ member.event }} </h2>
                       
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="subBody">
            <div class="table ">
                <section class = "table_header">
                    <h1 style="font-size: larger; text-decoration: solid; color: green; transform: translateY(70%)"> Points Ranking </h1>
                   
                </section>
                <section class = "table_body">
                    <table>
                        <tbody>
                            {% for member in top_members %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <!-- "{{ post.author.profile.image.url }}" -->
                                <td><img src ="" alt =""> {{ member.first_name }}  {{  member.last_name }} </td>
                                <td style = "font-size:large; text-decoration:solid; color: green;" > {{member.pointsum}} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
       
    </div>
 
                 
</body>
{% endblock %}
 




