{% extends "stage/base.html" %}
{% load static %}
{% block name %}
<h1>Profile</h1><br/>

{%  for item in all %}
    <h2>{{ item.first_name }}  {{  item.last_name }}</h2><br/>
    <p> Email: {{ item.email }}</p><br/>
    <p> ID Number: {{ item.mcneese_id }}</p><br/>
    <p> LinkedIn: {{ item.linkedin }}</p><br/>
    <p> Phone Number: {{ item.phone }}</p><br/>
    <p> Profile Image:</p>
    <img src= "{{ item.avatar.images.url }}" alt="{{ item.avatar }}" width="150" height="150"><br/>   
    <br/>
    <p> Major: {{ item.major }}</p><br/><br/><hr/><br/>
{% endfor %}

{% endblock name %}