{% extends "stage/base.html" %}
{% load static %}
{% block name %}
<h1>Profile</h1><br/>

{% if user.is_authenticated %}
<h2>{{ user.first_name }}  {{  user.last_name }}</h2><br/>
    <p> Email: {{ user.email }}</p><br/>
    <p> ID Number: {{ user.mcneese_id }}</p><br/>
    <p> LinkedIn: {{ user.linkedin }}</p><br/>
    <p> Phone Number: {{ user.phone }}</p><br/>
    <p> Profile Image:</p>
<!--    <img src="{{ MEDIA_URL }}{{ user.avatar }}" alt="{{ user.avatar }}" width="150" height="150" style="border-radius: 50px;"><br/> -->   
    <br/>
    <p> Major: {{ user.major }}</p><br/><br/><hr/><br/>

{% else %}
    Not signed in.
{% endif %}
<!--
{%  for item in all %}
    <h2>{{ item.first_name }}  {{  item.last_name }}</h2><br/>
    <p> Email: {{ item.email }}</p><br/>
    <p> ID Number: {{ item.mcneese_id }}</p><br/>
    <p> LinkedIn: {{ item.linkedin }}</p><br/>
    <p> Phone Number: {{ item.phone }}</p><br/>
    <p> Profile Image:</p>
    <img src="{{ MEDIA_URL }}{{ item.avatar }}" alt="{{ item.avatar }}" width="150" height="150" style="border-radius: 50px;"><br/>   
    <br/>
    <p> Major: {{ item.major }}</p><br/><br/><hr/><br/>
{% endfor %}

-->

{% endblock name %}