@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"); 

 

* { 

    margin: 0; 

    padding: 0; 

    -webkit-box-sizing: border-box; 

            box-sizing: border-box; 

    text-decoration: none; 

    font-family: "Josefin Sans", sans-serif; 

  } 

   

 

div{ 

    margin: 0; 

    padding: 0; 

    box-sizing: border-box; 

    font-family: sans-serif; 

} 

 

body{ 
    display: flex;

    justify-content: center; 

    align-items: center; 

    background: #f3f5f9; 

    background-image: url("./logo/MSUHorseRider_blue.png");

    background-repeat: no-repeat; 

    background-position: 45% 10%;

    background-size: 600px 600px;

    background-attachment: fixed;


} 

.input {
    border-top: 10px;
}
 

.wrapper { 

    width: 360PX; 

    height: 100%; 

    margin: auto; 

    padding: 10px; 

    background-color: white;

    border-radius: 3px; 
} 

 

h1{ 

    text-align: center; 

    color: rgb(1, 1, 10); 

} 

 

h2, h3{ 

    text-align: left; 

    font-size: 15px; 

    color: rgb(1, 1, 10); 

} 

 

form{ 

    width: 300px; 

    margin-left:10px; 

} 

 

form label { 

    display: flex; 

    margin-top: 20px; 

    font-size: 18px; 

} 

form input { 

    width: 100%; 

    padding: 8px; 

    font-size: 15px; 

    border: 1px solid rgb(248, 234, 49) ; 

    border-radius: 50px; 

    margin-top: 5px;

} 

 

input[type="button"]{ 

    width: 300px; 

    height: 40px; 

    margin-top: 20px; 

    margin-left: 8px; 

    background-color: rgb(253, 233, 15); 

    color: rgb(10, 255, 51); 

    font-size: 18px; 

} 

 

.already{ 

    text-align: center; 

    color: black; 

    font-size: 15px; 

    margin-top: 15px; 

    margin-left: 5px; 

} 

 

input[type="checkbox"]{ 

    text-align: center; 

    width: 20x; 

    height: 20px; 

    border-radius: 10px; 

    margin-top: 10px; 

    font-size: 15px; 

    color: rgb(1, 1, 10); 

} 

 

.dropdown{ 

    display: inline-block; 
    width: 100%;
    height: 20px;

} 

/* .dropdown:hover{
    background-color: #1434A4
} */
.dropdown button{ 

    width: 300px; 

    margin-left: 8px; 

    margin-top: 20px; 

    border-radius: 50px; 

    background-color: rgb(248, 234, 49); 

    color: rgb(99, 87, 96); 

    font-size: 15px; 

    padding:10px 15px ; 

    cursor: pointer; 

} 



.dropdown a{ 

   display:block; 

   color: black;  

   text-decoration: none; 

   padding: 10px 15px; 

 

} 

.dropdown button:hover{
    background: #1434A4
}

.dropdown .content{ 

    display: none; 

    position: absolute; 

    background-color: rgb(238, 224, 206); 

    min-width: 300px; 

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 

    text-align: center; 

    margin-left: 5px; 

    text-decoration-color: #1434A4;

} 

.dropdown:hover .content{ 

    display: block; 
    background-color: #1434A4;

} 

.dropdown:hover button{ 

    background-color: rgb(224, 197, 163); 

} 

.dropdown a:hover{ 

    background-color: rgb(228, 207, 179); 

} 

.input-box{
    margin-top: 20px;
}

form input[type="submit"]:hover{
    background-color: #FFD700
}